
.profile-container {
  min-height: 100vh;
  background: #f1f3f6;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 0;
}
.form-select-user{
  width: 150px;
}

.profile-card {
  width: 95%;
  max-width: 1200px;
  min-height: 520px;
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 6px 24px rgba(0, 0, 0, 0.12);
  overflow: hidden;
}

.profile-left {
 
  color: white;
  text-align: center;
  padding: 60px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.profile-image {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  border: 6px solid #fff;
  margin-bottom: 20px;
}

.profile-name {
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 6px;
}

.profile-role {
  font-size: 16px;
  opacity: 0.9;
}


.profile-right {
  padding: 50px 60px;
}


.switch-active .form-check-input:checked {
  background-color: #198754; 
  border-color: #198754;
}

.switch-active .form-check-label {
  color: #198754;
  font-weight: 500;
}


.switch-inactive .form-check-input {
  background-color: #dc3545; 
  border-color: #dc3545;
}

.switch-inactive .form-check-input:checked {
  background-color: #dc3545;
  border-color: #dc3545;
}

.switch-inactive .form-check-label {
  color: #dc3545;
  font-weight: 500;
}

.section-title {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 30px;
  border-bottom: 2px solid #eee;
  padding-bottom: 10px;
}

.edit-select {
  max-width: 220px;
}

.info-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.info-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 0;
  border-bottom: 1px solid #eee;
}

.info-row span {
  font-size: 16px;
  color: #777;
}

.info-row p {
  margin: 0;
}


.active {
  color: #1b9c3f;
  font-weight: 700;
}

.inactive {
  color: #d63031;
  font-weight: 700;
}


@media (max-width: 768px) {
  .profile-card {
    width: 100%;
  }

  .profile-right {
    padding: 30px;
  }

  .profile-image {
    width: 150px;
    height: 150px;
  }

  .profile-name {
    font-size: 22px;
  }
}